body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    display: flex;
    flex: auto;
    flex-direction: row;
}

article {
    flex: 2;
    overflow-y: auto;
    background-image: url("../html_advanced/computer_programming.jpeg.jpg");
    padding: 10px;
}
h1 {
    color: green ;
}
h2 {
    color: green ;
}
h3 {
    color: green ;
}
aside {
    flex: 1;
    overflow-y: auto;
    background-color: #ddd;
    padding: 10px;
}